.navbar {
  position: relative;
  width: 100%;
  min-height: 75px;
  height: 10vh;
  padding: 0.8rem 2rem;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--bg-color); 
  color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 0 0 15px 15px;
}

.navbar-left {
  display: flex;
  align-items: center;
}

.navbar-logo {
  height: 40px;
  cursor: pointer;
}

.navbar-right {
  display: flex;
  align-items: center;
}

.logout-btn {
  padding: 0.4rem 1rem;
  background: #ff6f61;
  border: none;
  border-radius: 6px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.logout-btn:hover {
  background: #e65b50;
}
